# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

pandas
numpy
IPython.core.display
plotly
cufflinks
plotly.offline as pyo
plot
iplot
init_notebook_mode
pyo.init_notebook_mode()
cufflinks.go_offline()
os
sys
subprocess
zipfile
pathlib
Path
IPython.display
HTML
ipywidgets
display
matplotlib
psutil
pickle
plotly.graph_objs as go
plotly.io as pio
openpyxl
